.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.16);
    max-width: 390px;
    width: 100%;
    padding: 60px;
    margin-left: 750px;
    margin-top: 150px;
}

.logo {
    
    margin-bottom: 20px;
    margin-left: 20px;
}